<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Edit user'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar Usuario</h2>
				<% if (locals.errors) { %>  
					
				<% for (const error in errors) { %>
					<h3 class="error-msg"><%= errors[error].msg %></h3>
				<% } %>
				<% }%>
			</div>
		</div>
		<div class="col-12">
			<form action="/users/<%= userToEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre:</label>
						<input type="text" id="name" name="name" placeholder="Juan" class="form-input" value="<%= userToEdit.name %>">
					</div>
					<div class="col-12 col-md-6">
						<label for="last_name" class="form-label">Apellido:</label>
						<input type="text" id="last_name" name="last_name" placeholder="Perez" class="form-input" value="<%= userToEdit.last_name %>">
					</div>
					<div class="col-12 col-md-6">
						<label for="email" class="form-label">Email:</label>
						<input type="text" id="email" name="email" placeholder="juan@perez.com" class="form-input" value="<%= userToEdit.email%>">
					</div>
                    	<div class="col-12 col-md-6">
						<label for="password" class="form-label">password:</label>
						<input type="password" id="password" name="password" class="form-input"%>">
					</div>
					<div class="col-12">
						<label for="avatar" class="form-label">Imagenes:</label>
						<input type="file" name="avatar" id="avatar" class="form-input" multiple></input>
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Actualizar</button>
						<a href="/">
							<button type="button" class="action-button delete">Cancelar</button>
						</a>
					</div>
				</div>
			</form>
		</div>

	</div>

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>